{% extends 'base.html.twig' %}

{% block title %}grupavenedi.pl{% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block text_content %}
<div class='m-sm-2 border-custom-2'>
  <h1 class='m-sm-1 text-center'>Współpraca
  </h1>
</div>
<div class='m-sm-3 mt-sm-4'>
  <p class='mb-sm-3'>Obecnie szukamy:
  </p>
  <ul>
    <li>
      <p class='mb-sm-1'>kamerzystów</p>
    <li>
      <p class='mb-sm-1'>archeologów</p>
  </ul>
</div>

{% endblock text_content %}