{% extends 'base.html.twig' %}

{% block title %}grupavenedi.pl{% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block text_content %}
<div class='m-sm-2 border-custom-2'>
  <h1 class='m-sm-1 text-center'>Co robimy?</h1>
</div>
<div class='m-sm-2 mt-sm-4 text-center'>
  <p class='p-sm-1'>Zajmujemy się poszukiwaniem przedmiotów stworzonych przez ludzi setki, czy tysiące lat temu!
  </p>
  <p class='p-sm-1'>W tym celu przeszukujemy lasy korzystając ze specjalistycznego sprzętu i opierając się na własnym doświadczeniu, oraz nurkujemy w jeziorach.
  </p>
  <p class='p-sm-1'>Dokumentujemy naszą pracę zdjęciami i nagraniami. W naszym dorobku znajduje się wiele cennych znalezisk; są to między innymi:
  </p>
  <p class='p-sm-1'>Po wyjściu z lasów i jezior promujemy wiedzę historyczną dotyczącą Pomorza Zachodniego; związaną ze znalezionymi artefaktami archeologicznymi.
  </p>
  <p class='p-sm-1'>Współpracujemy z uczelniami wyższami i archeologami z całej Polski!
  </p>
  <p class='p-sm-1'>O naszych odkryciach informują prestiżowe czasopisma specjalistyczne z zakresu archeologii i historii. 
    Mieliśmy zaszczyt wziąć udział w Konferencji "Życie mieszkańców Pomorza Zachodniego w czasach przedpiastowskich" organizowanej przez Wydział Historii Uniwersytetu Szczecińskiego
    we współpracy z Wydziałem Archeologii Uniwersytetu Wrocławskiego.
  </p>
  <p class='p-sm-1'>W ubiegłym roku został nam udzielony grant na badania dna jeziora Miedwie w ramach projektu "Nieodkryte głębiny historii Stargardu i okolic".
  </p>
</div>

{% endblock text_content %}
