{% extends 'base.html.twig' %}

{% block title %}grupavenedi.pl{% endblock title %}

{% block stylesheets %}
    <link rel='stylesheet' href='css/photos/index.css'>
{% endblock stylesheets %}

{% block text_content %}
<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div id="root">
      <div class="m-sm-2 border-custom-2">
        <h1 class="m-sm-1 text-center">Zdjęcia
        </h1>
      </div>
      <div class="m-sm-4 border-custom-1 text-center">
        <p class="m-sm-1">Jeśli chcesz przejrzeć któryś z albumów, naciśnij na jeden z poniższych obrazków. Możesz wygodnie przeglądać albumy korzystając ze strzałek na klawiaturze (lewej i prawej).
        </p>
      </div>
      <div class="d-flex flex-wrap justify-content-center align-content-center" id="albums_get">
      {% for album in photosAlbums %}
      <div class="album" id="{{ album.id }}">
        {% for photo in album.photos %}
        <img src="{{ asset(photo.dir) }}" class="myImg">
        {% endfor %}
        <div class="caption">
          <span>{{ album.title }}</span>
        </div>
      </div>
      {% endfor %}
      </div>
      <div id="myModal" class="modal">
        <span class="close">×</span>
        <img class="modal-content" id="img01">
        <div id="caption">
        </div>
        <a class="prev">❮</a>
        <a class="next">❯</a>
      </div>
    </div>
  </body>
</html>
{% endblock text_content %}

{% block javascripts %}
    <script src='js/photos/my_jquery_photos.js'></script>
{% endblock javascripts %}