{% extends 'base.html.twig' %}

{% block title %}grupavenedi.pl{% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block text_content %}
<div class='m-sm-2 border-custom-2'>
  <h1 class='m-sm-1 text-center'>Kontakt
  </h1>
</div>
<div class='m-sm-3 mt-sm-4'>
  <p class='mb-sm-4'>Skontaktować się z nami możecie poprzez:
  </p>
  <ul>
    <li>
      <a href='https://www.google.com' target='_onblank'>
        <p class='mb-sm-1'>Facebook
        </p>
      </a>
    <li>
      <p class='mb-sm-1'>Telefon: 987 654 321
      </p>
    <li>
      <p class='mb-sm-1'>E-mail: venedi@example.com
      </p>
  </ul>
</div>
{% endblock text_content %}

