<!DOCTYPE html>
<html lang='pl-PL'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='initial-scale=1.0'>
        <meta name='author' content='Developer'>
        <meta name='description' content='Site for testing'>
        <meta name='keywords' content='test, venedi'>
        <title>Site for testing</title>
        <link rel='stylesheet' href='css/test/index.css'>
    </head>
    <body>
        <button type='button' class='transition_test'>
            Pierwszy test
        </button>
    </body>
</html>